bokeh
# geoplotlib
folium # swapped from geoplotlib (abandoned package, won't build on Python 3.13)
ipython
ipywidgets
jupyter
matplotlib
notebook
numpy
pandas
pyglet
scikit-learn
scipy
seaborn
squarify
